<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byType">

    <context:annotation-config/>
    <bean  class="com.mycompany.dvdstore.repository.FileMovieRepository">
    <property name="file" value= "/Users/alpacino/Desktop/WORK-SRC/CoreExoOne/src/main/java/com/mycompany/dvdstore/files/movies.csv"/>
    </bean>

    <bean class="com.mycompany.dvdstore.Service.DefaultMovieService" >
        <!--property name="movieRepositoryInterface" ref="movieRepositoryInterface"/-->
    </bean>
    <bean class="com.mycompany.dvdstore.controller.MovieController" >
        <!--property name="movieServiceInterface" ref="movieServiceInterface"/-->
    </bean>
    

</beans>